<!DOCTYPE html>
<html lang="en">
<head>
   
<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script> -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<section >
 
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <div class="card card-registration my-4">
            <div class="row g-0">
              <div class="col-md-6">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp"
                  alt="Sample photo" class="img-fluid"
                  style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
              </div>
              <div class="col-xl-6">
                <div class="card-body p-md-5 text-black">
                  <h2 class="mb-5 text-uppercase">Student registration form</h2>
  
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <label class="form-label" for="form3Example1m">First name</label><span
                        class="form-mandatory-field">*</span>
                        <input type="text" id="form3Example1m" class="form-control form-control-lg" [(ngModel)]="firstname" />
                        
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <label class="form-label" for="form3Example1n">Last name</label><span
                        class="form-mandatory-field">*</span>
                        <input type="text" id="form3Example1n" class="form-control form-control-lg" [(ngModel)]="lastname"/>
                        
                      </div>
                    </div>
                  </div>
  
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <label class="form-label" for="form3Example1m1">Reg no</label><span
                        class="form-mandatory-field">*</span>
                        <input type="text" id="form3Example1m1" class="form-control form-control-lg" [(ngModel)]="regno"/>
                       
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <label class="form-label" for="form3Example1n1">Father's name</label><span
                        class="form-mandatory-field">*</span>
                        <input type="text" id="form3Example1n1" class="form-control form-control-lg" [(ngModel)]="fathername"/>
                        
                      </div>
                    </div>
                  </div>
  
                 
                  <div class="d-md-flex justify-content-start align-items-center mb-4 py-2">
  
                    <h6 class="mb-0 me-4">Gender: </h6>
  
                    <div class="form-check form-check-inline mb-0 me-4" >
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="femaleGender" 
                        value="option1" [(ngModel)]="gender"/>
                      <label class="form-check-label" for="femaleGender">Female</label>
                    </div>
  
                    <div class="form-check form-check-inline mb-0 me-4">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="maleGender"
                        value="option2" [(ngModel)]="gender" />
                      <label class="form-check-label" for="maleGender">Male</label>
                    </div>
  
                    <div class="form-check form-check-inline mb-0">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="otherGender"
                        value="option3" [(ngModel)]="gender"/>
                      <label class="form-check-label" for="otherGender">Other</label>
                    </div>
  
                  </div>
  
  
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example9">DOB</label><span
                    class="form-mandatory-field">*</span>
                    <p-calendar [(ngModel)]="dataofbirth" (onSelect)="CalculateAge()"></p-calendar>
                    
                  </div>
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example9">Age</label><span
                    class="form-mandatory-field">*</span>
                    <input type="number" class="form-control form-control-lg" [(ngModel)]="age">
                  </div>
                  
                    
                  
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example8">Address</label><span
                    class="form-mandatory-field">*</span>
                    <input type="text" id="form3Example8" class="form-control form-control-lg" [(ngModel)]="address"/>
                    
                  </div>
  
  
                  <div class="form-outline mb-4">
                    <div><label for="_pincode"
               [ngStyle]="{'color': (pincode !== null && pincode !== undefined) ? (pincode>pincode_max ? 'crimson' : '#495057') : '#495057'}">
             Pincode<span class="form-mandatory-field">*</span></label>
               </div>
               <input class="text" name="_pincode" class="form-control form-control-lg"  pInputText minlength="6"
                 maxlength="6" [(ngModel)]="pincode" appInputFormat="digitOnly" pattern="^6[0-4]\d{4}$" required />
   <div>  <span *ngIf="(pincode != null && pincode !== undefined)" >
    <span *ngIf="(pincode.invalid)||(pincode>pincode_max)"
    style="color: crimson;font-size: 12px;">Invalid pincode</span>
   
          </span>
  
      </div>

                  </div>
  
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example97">collegename</label><span
                        class="form-mandatory-field" >*</span>
                      <select class="select form-control-lg" class="form-control form-control-lg" [(ngModel)]="collegename">
                        <option value="choose" >Choose option</option>
                        <option value="KSRCT">KSRCT</option>
                        <option value="KSRCE">KSRCE</option>
                      </select>
</div>
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <label class="form-label" for="form3Example1n">course</label><span
                        class="form-mandatory-field">*</span>
                      
                      <select class="select form-control-lg" [(ngModel)]="course">
                        <option value="choose" >Choose option</option>
                        <option value="BE">BE</option>
                        <option value="ME">ME</option>
                      </select></div>
</div>
                 <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <label class="form-label" for="form3Example1n">department</label><span
                    class="form-mandatory-field">*</span>
                      <select class="select form-control-lg" [(ngModel)]="department">
                        <option value="choose">Choose option</option>
                        <option value="CSE">CSE</option>
                        <option value="ECE">ECE</option>
                        <option value="EEE">EEE</option>
                        <option value="MECH">MECH</option>
                        <option value="CIVIL">CIVIL</option>
                        <option value="IT">IT</option>
                        <option value="ENI">ENI</option>
                      </select>
                    </div></div>
                    </div>
  
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example97">Email ID</label><span
                    class="form-mandatory-field">*</span>
                    <input type="text" class="form-control form-control-lg" [(ngModel)]="emailid" 
                    pattern="/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/" required />
                    
                  </div>
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <label class="form-label" for="form3Example1m">Password</label><span
                        class="form-mandatory-field">*</span>
                       
                        <div> <input type="password" name="_newpwd" class="form-control form-control-lg" autocomplete="off" pInputText [(ngModel)]="password"
                          minlength="8" maxlength="12" (input)="check(password)" required>
                   </div>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <label class="form-label" for="form3Example1n">confirm password</label><span
                        class="form-mandatory-field">*</span>
                       
                        <div> <input type="password" name="_confirmpwd" class="form-control form-control-lg"  [(ngModel)]="confirmpassword" autocomplete="off" pInputText
                          minlength="8" maxlength="12" (input)="checkPassword()" required></div>
                          <div *ngIf="showErrMsg" style="color: rgb(250, 15, 62); font-size: 12px;">Password did
                            not match</div>
                            <div *ngIf="showMatchMsg" style="color: rgb(28, 182, 92); font-size: 12px; text-align: left;">Password
                                matched!</div>
                
                    <div *ngIf="SpecialCharErrMsg"
                    style="color: rgb(250, 15, 62); font-size: 12px; text-align: left;">Atleast one Special
                    Character must!</div>
                  <div *ngIf="NumericErrMsg"
                    style="color: rgb(250, 15, 62); font-size: 12px; text-align: left;">Atleast one Numeric(0-9)
                    must!</div>
                  <div *ngIf="UpperCaseErrMsg"
                    style="color: rgb(250, 15, 62); font-size: 12px; text-align: left">Atleast one
                    Uppercase(A-Z) must!</div>
                  <div *ngIf="LengthErrMsg" style="color: rgb(250, 15, 62); font-size: 12px; text-align: left">
                    Minimum 8 Characters!</div>
                
                      </div>
                    </div>
                  </div>
  
                  <div class="d-flex justify-content-end pt-3">
                    <button type="button" class="btn btn-light btn-lg" (click)="onview()">view</button>
                    <button type="button" class="btn btn-warning btn-lg ms-2"(click)="onSave()" [disabled]="(!firstname|| !lastname|| !regno|| !fathername|| !gender|| !dataofbirth|| !address|| !pincode|| !collegename|| !course|| !department|| !emailid|| !password|| !confirmpassword)">Submit form</button>
                  </div>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p-table [columns]="cols" [value]="data" [rows]="10" [rowsPerPageOptions]="[5,10,15,20]"
    responsiveLayout="scroll" styleClass="p-datatable-gridlines">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th>S.No</th>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
            <th>
                Edit/Update
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
        <tr>
            <td class="td-border">
                <span class="p-column-title">
                    S.No :
                </span>
                <span style="text-align: end;">
                    {{rowIndex+1}}
                </span>
            </td>
  
  
            <td *ngFor="let col of columns" [style.text-align]="col.align" class="td-border">
                <span class="p-column-title">
                    {{col.header}} :
                </span>
                <span style="text-align: end;"> {{rowData[col.field]}}
                </span>
  
            </td>
            <td class="td-border">
                <span class="p-column-title">
                    Edit/Update :
                </span>
                <span><p-button label="Edit" icon="pi pi-check" iconPos="right" (onClick)="onEdit(rowData)"></p-button></span>
            </td>
        </tr>
    </ng-template>
  </p-table>

  </section>
</html>