<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<br>
<br>
<br>
<br>
<div class="container">
  <h2>Student Details</h2>
  <form action="/action_page.php">
   
    <div class="form-group">
        <div class="col-mb-4">
            <label class="form-label" for="form3Example1m">Date</label><span
            class="form-mandatory-field">*</span>
            <div id="date" class=" datepicker">
              <input placeholder="Select date" type="date" id="example" class="form-control">
              <i class="calendar" tabindex=0></i>
            </div>
        </div>
    </div><br>
    <br>
    <br>
    <button class="btn btn-primary mr-3">Submit</button>
  <br><br>
  <div class="col-lg-9 col-md-8">  
    <div class="table-responsive">  
      <table class="table table-striped">  
        <thead class="thead-inverse">  
          <tr>  
            <th> Reg no </th>  
            <th>Student Name  </th>  
            <th>Book Id </th>  
            <th>Book name </th>  
            <th>Number books </th>  
            <th>Borrow Date</th>
            <th>Due Date</th>
            <th>Status</th>
          </tr>  
        </thead>  
        </table></div></div>
</form></div>
</body>
</html>
