
<html lang="en">

<head>
   <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" 
     integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous"> 
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" 
     integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" 
     crossorigin="anonymous"></script> 
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
  <title>Document</title>
</head>
<section class="h-100 bg-dark">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card card-registration my-4">
          <div class="row g-0">
            <div class="col-xl-4 d-none d-xl-block">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp"
                alt="Sample photo" class="img-fluid"
                style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
            </div>
            <div class="col-xl-6">
              <div class="card-body p-md-5 text-black">
                <h2 class="mb-5 text-uppercase">BOOK REGISTER</h2>
                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <label class="form-label" for="form3Example1m">StudentName</label><span
                        class="form-mandatory-field">*</span>
                      <input type="text" id="form3Example1m" class="form-control form-control-lg" [(ngModel)]="studentname" />
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <label class="form-label" for="form3Example1n">Reg No</label><span
                        class="form-mandatory-field">*</span>
                      <input type="number" id="form3Example1n" class="form-control form-control-lg"  [(ngModel)]="studentregno"/>

                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 mb-4">
                      <label class="form-label" for="form3Example1m">Book category</label><span
                        class="form-mandatory-field">*</span>
                      <select name="select form-control-lg" class="form-control form-control-lg" [(ngModel)]="bookcategory" > 
                          <!-- <option *ngFor="let index of groupedCities" value="index.value">{{index.label}}</option> -->
                           <!-- <option *ngFor="let index of items" value="index.value">{{index.label}}</option>  -->
                           <optgroup *ngFor="let index of groupedCities" label={{index.label}}>
                           <option *ngFor="let i of index.items" value={{i.value}}> {{i.label}}
                           </option>
                          </optgroup>
                    </select>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <label class="form-label" for="form3Example1m">Book Edition</label><span
                        class="form-mandatory-field">*</span>
                      <select name="select form-control-lg" class="form-control form-control-lg"  [(ngModel)]="bookedition">
                        
                        <option value="Edition I"> Edition I</option>
                        <option value="Edition II">Edition II</option>
                        <option value="Edition III">Edition III</option>
                        <option value="Edition IV">Edition IV</option>
                        <option value="Edition V">Edition V</option>
                        </select>
                    </div>
                  </div>
        
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <label class="form-label" for="form3Example1m">Date</label><span
                          class="form-mandatory-field">*</span>
                        <div id="date" class=" datepicker">
                          <input placeholder="Select date" type="date" id="example" class="form-control form-control-lg"  [(ngModel)]="publishdate">
                          <i class="calendar" tabindex=0></i>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>

              <div class="py-3 pb-4 border-bottom">
                <button class="btn btn-primary mr-3" style="margin-right: 10px;" (click)="onSave()"  [disabled]="(!studentname||  !studentregno|| !bookedition|| !bookcategory|| !publishdate)">Submit</button>
                <button class="btn btn-primary mr-3" style="margin-right: 10px;" (click)="onview()">view</button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <p-table [columns]="cols" [value]="data" [rows]="10" [rowsPerPageOptions]="[5,10,15,20]"
  responsiveLayout="scroll" styleClass="p-datatable-gridlines">
  <ng-template pTemplate="header" let-columns>
      <tr>
          <th>S.No</th>
          <th *ngFor="let col of columns">
              {{col.header}}
          </th>
          <th>
              Edit/Update
          </th>
          <th>
            Approve
            </th>
        </tr>
  
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
      <tr>
          <td class="td-border">
              <span class="p-column-title">
                  S.No :
              </span>
              <span style="text-align: end;">
                  {{rowIndex+1}}
              </span>
          </td>


          <td *ngFor="let col of columns" [style.text-align]="col.align" class="td-border">
              <span class="p-column-title">
                  {{col.header}} :
              </span>
              <span style="text-align: end;"> {{rowData[col.field]}}
              </span>

          </td>
          <td class="td-border">
              <span class="p-column-title">
                  Edit/Update :
              </span>
              <span>
                <p-button label="Edit" icon="pi pi-check" iconPos="right" (onClick)="onEdit(rowData)"></p-button>
                  
                </span>
          </td>
        
          <td class="td-border">
            <span class="p-column-title">
              Approved :
            </span>
            <span>
              <button icon="pi pi-exclamation-circle" *ngIf="(rowData.approvalstatus == 0)"
              pButton type="button" label="Approve" pTooltip="Toggle to Approve"
              style="background: #08747b !important;"
              (click)="onApprove(rowData, 0)">
          </button>
              <button icon="pi pi-check" *ngIf="(rowData.approvalstatus == 1)" pButton
                  type="button" label="Disapprove" pTooltip="Toggle to Disapprove" style="background: green !important;"
                  (click)="onApprove(rowData, 1)">
              </button>
              </span>
              </td>
        </tr>
  </ng-template>
</p-table>
</section>

</html>