<br>
<br>
<br>
<div class="wrapper bg-white mt-sm-5">
    <h4 class="pb-4 border-bottom">Account settings</h4>
    <div class="d-flex align-items-start py-3 border-bottom">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPO0lAaqweJovTtogSK_gWSChhWush-S0PZw&usqp=CAU"
            class="img" alt="">
        <div class="pl-sm-4 pl-2" id="img-section">
            <b>Profile Photo</b>
            <button class="btn button border"><b>Upload</b></button>
        </div>
    </div>
    <div class="py-2">
        <div class="row py-2">
            <div class="col-md-6">
                <label for="firstname">First Name</label>
                <input type="text" class="bg-light form-control" placeholder="" [(ngModel)]="firstname">
            </div>
            <div class="col-md-6 pt-md-0 pt-3">
                <label for="lastname">Last Name</label>
                <input type="text" class="bg-light form-control" [(ngModel)]="lastname">
            </div>
        </div>
        <div class="row py-2">
            <div class="col-md-6">
                <label for="email">Email Address</label>
                <input type="text" class="bg-light form-control" [(ngModel)]="email">
            </div>

            <div class="col-md-6 pt-md-0 pt-3">
                <label for="phone">Phone Number</label>
                <input type="phoneno" class="bg-light form-control" name="_mobno" pInputText minlength="10"
                    maxlength="10" pattern="^[6789]\d{9,9}$" title="Phone number with 6-9 and remaing 9 digit with 0-9"
                    appInputFormat="digitOnly" [(ngModel)]="phoneno" required />

            </div>
        </div>
        <div class="row py-2">
            <div class="col-md-6">
                <label for="email">old password</label>
                <input type="text" class="bg-light form-control" [(ngModel)]="oldpassword">
            </div>
            <div class="col-md-6 pt-md-0 pt-3">
                <label for="phone">New password</label>
                <div> <input type="password" name="_newpwd" class="bg-light form-control" autocomplete="off" pInputText
                        [(ngModel)]="newpassword" minlength="" maxlength="" (input)="check(password)" required>


                </div>
            </div>
        </div>
        <div>
            <label for="phone">confirm password</label>
            <div> <input type="password" name="_confirmpwd" class="bg-light form-control" autocomplete="off" pInputText
                    [(ngModel)]="confirmpassword" minlength="8" maxlength="12" (input)="checkPassword()" required></div>
            <div *ngIf="showErrMsg" style="color: rgb(250, 15, 62); font-size: 12px;">Password did
                not match</div>
            <div *ngIf="showMatchMsg" style="color: rgb(28, 182, 92); font-size: 12px; text-align: left;">Password
                matched!</div>

            <div *ngIf="SpecialCharErrMsg" style="color: rgb(250, 15, 62); font-size: 12px; text-align: left;">Atleast
                one Special
                Character must!</div>
            <div *ngIf="NumericErrMsg" style="color: rgb(250, 15, 62); font-size: 12px; text-align: left;">Atleast one
                Numeric(0-9)
                must!</div>
            <div *ngIf="UpperCaseErrMsg" style="color: rgb(250, 15, 62); font-size: 12px; text-align: left">Atleast one
                Uppercase(A-Z) must!</div>
            <div *ngIf="LengthErrMsg" style="color: rgb(250, 15, 62); font-size: 12px; text-align: left">
                Minimum 8 Characters!</div>
        </div>
    </div>

    <div class="py-3 pb-4 border-bottom">
        <button class="btn btn-primary " style="margin-right: 10px;" (click)="onSave()"
        [disabled]="(!firstname||!lastname||!email||!phoneno||!oldpassword||!newpassword||!confirmpassword)"
        >Save Changes</button>
        <button class="btn border button" (click)="onView()">view</button>
    </div>


    <div class="d-sm-flex align-items-center pt-3" id="deactivate">


        <p-table [columns]="cols" [value]="data" [rows]="10" [rowsPerPageOptions]="[5,10,15,20]"
            responsiveLayout="scroll" styleClass="p-datatable-gridlines">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th>S.No</th>
                    <th *ngFor="let col of columns">
                        {{col.header}}
                    </th>
                    <th>
                        Edit/Update


                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
                <tr>
                    <td class="td-border">
                        <span class="p-column-title">
                            S.No :
                        </span>
                        <span style="text-align: end;">
                            {{rowIndex+1}}
                        </span>
                    </td>


                    <td *ngFor="let col of columns" [style.text-align]="col.align" class="td-border">
                        <span class="p-column-title">
                            {{col.header}} :
                        </span>
                        <span style="text-align: end;"> {{rowData[col.field]}}
                        </span>

                    </td>
                    <td class="td-border">
                        <span class="p-column-title">
                            Edit/Update :
                        </span>
                        <span><p-button label="Edit" icon="pi pi-check" iconPos="right" (onClick)="onEdit(rowData)"></p-button></span>
                    </td>
                </tr>
            </ng-template>
        </p-table>

    