<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<!------ Include the above in your HEAD tag ---------->

<div class="container">
<div class="row">
<div class="col-sm-12">
<h1>Change Password</h1>
</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="row">
<div class="col-sm-6 col-sm-offset-3">
<p class="text-center">Use the form below to change your password. Your password cannot be the same as your username.</p>
<form method="post" id="passwordForm">
<hr>
    <label>Current Password</label><span class="form-mandatory-field">*</span>
    <div class="form-group pass_show"> 
        <input type="password" class="form-control form-control-lg" name="_oldpwd"  autocomplete="off" pInputText [(ngModel)]="oldPassword"
        >
</div>
  
       <label>New Password</label><span class="form-mandatory-field">*</span>
    <div class="form-group pass_show"> 
        <input type="password" name="_newpwd" class="form-control form-control-lg" autocomplete="off" pInputText [(ngModel)]="newPassword"
        minlength="8" maxlength="12" (input)="check(newPassword)" >
 </div>

       <label>Confirm Password</label><span class="form-mandatory-field">*</span>
    <div class="form-group pass_show"> 
        
        <div> <input type="password" class="form-control form-control-lg" name="_confirmpwd" autocomplete="off" pInputText [(ngModel)]="confirmPassword"
            minlength="8" maxlength="12" (input)="checkPassword()"></div>
        <div *ngIf="showErrMsg" style="color: rgb(250, 15, 62); font-size: 12px;">Password did
            not match</div>
            <div *ngIf="showMatchMsg" style="color: rgb(28, 182, 92); font-size: 12px; text-align: left;">Password
                matched!</div>
    </div>
    <div *ngIf="SpecialCharErrMsg"
                style="color: rgb(250, 15, 62); font-size: 12px; text-align: left;">Atleast one Special
                Character must!</div>
              <div *ngIf="NumericErrMsg"
                style="color: rgb(250, 15, 62); font-size: 12px; text-align: left;">Atleast one Numeric(0-9)
                must!</div>
              <div *ngIf="UpperCaseErrMsg"
                style="color: rgb(250, 15, 62); font-size: 12px; text-align: left">Atleast one
                Uppercase(A-Z) must!</div>
              <div *ngIf="LengthErrMsg" style="color: rgb(250, 15, 62); font-size: 12px; text-align: left">
                Minimum 8 Characters!</div>
    
    <button pButton type="button" class="btn btn-primary btn-block mb-4" (click)="onSave()"
    [disabled]="(!oldPassword|| !newPassword||!confirmPassword)">Save</button>
</form>
</div><!--/col-sm-6-->
</div><!--/row-->
<div class="p-col-3"></div>
</div>


