<!DOCTYPE html>
<html lang="en">

<head>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<section class="h-100 bg-dark">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card card-registration my-4">
          <div class="row g-0">
            <div class="col-xl-4 d-none d-xl-block">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp"
                alt="Sample photo" class="img-fluid"
                style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
            </div>
            <div class="col-xl-6">
              <div class="card-body p-md-5 text-black">
                <h3 class="mb-5 text-uppercase">Issue of Books</h3>

                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <label class="form-label" for="form3Example1m">Book Id</label><span
                        class="form-mandatory-field">*</span>
                      <input type="text" id="form3Example1m" class="form-control " [(ngModel)]="bookid" />
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <label class="form-label" for="form3Example1n">Book name</label><span
                        class="form-mandatory-field">*</span>
                      <input type="text" id="form3Example1n" class="form-control" [(ngModel)]="bookname" />

                    </div>
                  </div>
                </div>


                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <label class="form-label" for="form3Example1m">Student Regno:</label><span
                        class="form-mandatory-field">*</span>
                      <input type="text" id="form3Example1m" class="form-control " [(ngModel)]="studentregno" />
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <label for="_commodityname" >Issue Info</label><span
                        class="form-mandatory-field">*</span>
                      <select class="select form-control-lg" [(ngModel)]="issueinfo">
                        <option value="1">Choose option</option>
                        <option value="2">Return Book</option>
                        <option value="3">Extern Date</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6 mb-4">
                    <label for="example">Borrow date:</label><span class="form-mandatory-field">*</span>
                    <div id="date" class=" datepicker">
                      <input placeholder="Select date" type="date" id="example" class="form-control"
                        [(ngModel)]="borrowdate">
                      <i class="calendar" tabindex=0></i>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <label for="example">Issue date:</label>
                    <div id="date" class=" datepicker">
                      <input placeholder="Select date" type="date" id="example" class="form-control"
                        [(ngModel)]="issuedate">
                      <i class="calendar" tabindex=0></i>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 mb-4">
                    <label for="example">Extern date:</label>
                    <div id="date" class=" datepicker">
                      <input placeholder="Select date" type="date" id="example" class="form-control"
                        [(ngModel)]="externdate">
                      <i class="calendar" tabindex=0></i>
                    </div>
                  </div>
                </div>

                <div class="py-3 pb-4 border-bottom">
                  <button type="button" class="btn btn-primary btn-lg" (click)="onSave()">Submit</button>
                  <button type="button" class="btn btn-primary btn-lg" (click)="onview()">View</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p-table [columns]="cols" [value]="data" [rows]="10" [rowsPerPageOptions]="[5,10,15,20]"
  responsiveLayout="scroll" styleClass="p-datatable-gridlines">
  <ng-template pTemplate="header" let-columns>
      <tr>
          <th>S.No</th>
          <th *ngFor="let col of columns">
              {{col.header}}
          </th>
          <th>
              Edit/Update


          </th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
      <tr>
          <td class="td-border">
              <span class="p-column-title">
                  S.No :
              </span>
              <span style="text-align: end;">
                  {{rowIndex+1}}
              </span>
          </td>


          <td *ngFor="let col of columns" [style.text-align]="col.align" class="td-border">
              <span class="p-column-title">
                  {{col.header}} :
              </span>
              <span style="text-align: end;"> {{rowData[col.field]}}
              </span>

          </td>
          <td class="td-border">
              <span class="p-column-title">
                  Edit/Update :
              </span>
              <span><button icon="pi pi-pencil" pButton type="button" (click)="onEdit(rowData)">
                      Edit
                  </button></span>
          </td>
      </tr>
  </ng-template>
</p-table>
</section>


</html>