<!DOCTYPE html>
<html lang="en">
<head>
   
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<section class="h-100 bg-dark">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <div class="card card-registration my-4">
            <div class="row g-0">
              <div class="col-xl-4 d-none d-xl-block">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp"
                  alt="Sample photo" class="img-fluid"
                  style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
              </div>
              <div class="col-xl-6">
                <div class="card-body p-md-5 text-black">
                  <h3 class="mb-5 text-uppercase">Issue of Books</h3>
  
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <label class="form-label" for="form3Example1m">Book Id</label><span
                        class="form-mandatory-field">*</span>
                        <input type="text" id="form3Example1m" class="form-control " />
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <div class="form-outline">
                          <label class="form-label" for="form3Example1n">Book name</label><span
                          class="form-mandatory-field">*</span>
                          <input type="text" id="form3Example1n" class="form-control" />
                          
                        </div>
                      </div>
                  </div>
                      

                      <div class="row">
                        <div class="col-md-6 mb-4">
                          <div class="form-outline">
                            <label class="form-label" for="form3Example1m">Student Regno:</label><span
                            class="form-mandatory-field">*</span>
                            <input type="text" id="form3Example1m" class="form-control " />
                          </div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <div class="form-outline">
                              <label for="_commodityname"  >Issue Info</label><span
                              class="form-mandatory-field">*</span>
                            <select class="select form-control-lg">
                              <option value="1" >Choose option</option>
                              <option value="2">Return Book</option>
                              <option value="3">Extern Date</option>
                              <option value="4">Damage Book</option>
                            </select>
                            </div>
                          </div></div>

                          <div class="row">
                            <div class="col-md-6 mb-4">
                              <label for="example">Borrow date:</label><span
                              class="form-mandatory-field">*</span>
                              <div id="date" class=" datepicker">
                                <input placeholder="Select date" type="date" id="example" class="form-control">
                                <i class="calendar" tabindex=0></i>
                              </div></div>
                              <div class="col-md-6 mb-4">
                                <label for="example">Issue date:</label>
                                <div id="date" class=" datepicker">
                                  <input placeholder="Select date" type="date" id="example" class="form-control">
                                  <i class="calendar" tabindex=0></i>
                                </div></div>
                            </div>
                            <div class="row">
                              <div class="col-md-6 mb-4">
                                <label for="example">Extern date:</label>
                                <div id="date" class=" datepicker">
                                  <input placeholder="Select date" type="date" id="example" class="form-control">
                                  <i class="calendar" tabindex=0></i>
                                </div></div>
                                <div class="col-md-6 mb-4">
                                  <div class="form-outline">
                                    <label class="form-label" for="form3Example1m">Late Return Fine:</label>
                                    <input type="text" id="form3Example1m" class="form-control " />
                                  </div>
                                </div></div>
                                <div class="text-align-center">
                                <button type="button" class="btn btn-warning btn-lg ms-2">Submit</button></div>
                  </div></div></div>
                  </div>
                  </div>
                  </div></div></section></html>
